.centro{
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cabeca{
    background-color: #8FD98F;
    margin-bottom: 1%;
    color: white;
    /*fonte q o paulo modesto vai manda*/

}
.carousel-caption{
    background: #01010198;
}
@font-face{
    font-family: "Oregano-Regular";
    src: url("img/Oregano-Regular.ttf")
}
h1{
    font-family: Oregano-Regular;
}
.nav-item{
    margin:0 1%;
}